body {
  /*text-align: center;*/
  background: #E2EFDE;
}
button{
  margin: 0 10px 0 10px;
}
.Nav {
  color: C97064;
  height: 80px;
  background: #AFD0BF;
}
.nav-ul{
  display: flex;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-ul-header{
  width: 50%;
}
.nav-weather-form{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

}
